<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h1>Hello This is Ampareeshan. Test to deploy in fly</h1>
{{ if .Region }}
<h2>This is running in {{.Region}} region</h2>
{{end}}
</body>
</html>
